<div>
  <h3 class='titleText'>PhoneBook</h3>
  
  <div class='appDesc'>This is Rails with Backbone.js web application. <br/>
  It gets data from user, and populate the list of those data. <br/><br/>
  Data is formed as PhoneBook address.<br/><br/></div>
  <table>
	  <tr>
	  	<td>Last Name: </td>
	  	<td><textarea id='lastName'></textarea></td> 
	  	<td>First Name: </td>
	  	<td><textarea id='firstName'></textarea></td>
	  </tr>
	  <tr>
	    <td>Phone Number: </td>
	    <td><textarea id='phoneNum'></textarea></td>
	  </tr>
	  <tr>
	    <td>Address: </td>
	    <td><textarea class='largeTArea' id='address'></textarea></td>
	    <td>Comments: </td>
	    <td><textarea class='largeTArea' id='comments'></textarea></td>
	  </tr>
  </table><br/>
  <button id='addPhone'>Add Phone</button> 
  <button id='clearPhone'>Clear Phones</button> 
  <button id='removePhone'>Remove Selected Phones</button> <br/>

  <table id='phoneTable' border="1"></table>
  
</div>