<div>
  <h3 class='titleText'>PhoneBook Edit</h3>
  
  <div class='appDesc'>Enter the data to modify and click Apply button<br/><br/></div>
  <table>
	  <tr>
	  	<td>Last Name: </td>
	  	<td><textarea id='lastName'></textarea></td> 
	  	<td>First Name: </td>
	  	<td><textarea id='firstName'></textarea></td>
	  </tr>
	  <tr>
	    <td>Phone Number: </td>
	    <td><textarea id='phoneNum'></textarea></td>
	  </tr>
	  <tr>
	    <td>Address: </td>
	    <td><textarea class='largeTArea' id='address'></textarea></td>
	    <td>Comments: </td>
	    <td><textarea class='largeTArea' id='comments'></textarea></td>
	  </tr>
  </table><br/>
  <button id='home'>back</button> 
  <button id='apply'>Apply</button> 
  
</div>